



#switches{
    display: flex;
    gap: calc(30rem/16);
}

#degrees, #darkMode{
    font-size: 30px;
    
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px 50px;
}

#currentWeatherDiv > div{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 30px;
    padding: 30px;
}

#weatherInfoTabs{
    font-size: 30px;
    display: flex;
    
    flex-wrap: wrap;
    gap: 15px;
    
}

#weatherInfoTabs > *{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px ;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}