*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#body{
    
}
#main{
    padding: calc(20rem/16);
    width: 100vw;
    height: 100vh;
    display: flex;
}

#rightSide{
    flex: 0.6;
}





input{
    width: 70%;
}