@font-face {
    font-family: 'CustomFont';
    src: url('fonts/segoeuithis.ttf') format('truetype');

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#main{
    padding: calc(20rem/16);
    width: 100vw;
    height: 100vh;
    font-family: 'CustomFont',sans-serif;
    font-size: 30px;
    
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    
}

#currentData > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#module{
    display: flex;
    justify-content: center;
}
#module > div:not(#extendedInfo){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    width: calc(200rem/16)s;
}
#extendedInfo{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
#forecast{
    display: flex;
    justify-content: center;
    
}
#forecast>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: calc(75rem/16); */
    padding: 0px 30px;
}
#hourly{
    
    /* gap: 10px; */
    width: 600px;
    display: flex;
    overflow: auto;
    
    
}
#hourly >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* width: calc(75rem/16); */
}