@font-face {
    font-family: 'CustomFont';
    src: url('fonts/segoeuithis.ttf') format('truetype');

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#main{
    padding: calc(20rem/16);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'CustomFont',sans-serif;
}

#currentData > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#module{
    display: flex;
}
#module > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#forecast{
    display: flex;
}
#forecast>div{
    display: flex;
    flex-direction: column;
}
#hourly{
    gap: 10px;
    display: flex;
    flex-wrap: true ;
}
#hourly >div{
    display: flex;
    flex-direction: column;
}